# Configurações do Cakto (Gateways de Pagamento)
CAKTO_BASE_URL="https://api.cakto.com.br"
CAKTO_CLIENT_ID="SEU_CLIENT_ID_AQUI"
CAKTO_SECRET="SUA_CHAVE_SECRETA_AQUI"
CAKTO_WEBHOOK_SECRET="SEU_SEGREDO_DE_WEBHOOK_AQUI"

# Configuração da Frenet (Cálculo de Frete)
FRENET_TOKEN="SEU_TOKEN_FRENET_AQUI"

# Banco de Dados (Prisma)
DATABASE_URL="postgresql://usuario:senha@localhost:5432/maosdeouro"
